<div class="list-circles">
  {% for item in include.items %}
    <div class="list-circles-item">
      {% if item.name %}
      <h3 class="item-name"><span class="fa fa-hand-o-right"> </span> {{ item.name }} </h3>
      {% endif %} 
      {% if item.desc %}
        <div class="item-desc">{{ item.desc }}</div>
      {% endif %}

      {% if item.img %}
          <div align="center">
            <img src="{{ item.img }}" alt="Girl in a jacket" width="320px" height="180px">
          </div>
      {% endif %}

      <div class="item-links">
        {% if item.github %}
          <a class="item-link" href="{{ item.github }}" title="GitHub">
            <span class="fa fa-github fa-2x"></span>
        </a>
        {% endif %}
        {% if item.youtube %}
          <a class="item-link" href="{{ item.youtube }}" title="Youtube">
            <span class="fa fa-youtube-play fa-2x"></span>
          </a>
        {% endif %}
        {% if item.game %}
          <a class="item-link" href="{{ item.game }}" title="Game">
            <span class="fa fa-gamepad fa-2x"></span>
          </a>
        {% endif %}
        {% if item.pdf %}
          <a class="item-link" href="{{ item.pdf }}" align="center" title="Pdf">
            <span class="fa fa-file-pdf-o fa-2x"></span>
          </a>
        {% endif %}
        <br><br>     
        {% if item.video %}
          <div align="center">
            {% if item.horizontal == true %}
              <video width="56%" height="56%" autoplay="autoplay" loop="loop">
                <source src="{{ item.video }}" type="video/mp4">
              </video>
            {% else %}
              <video width="40%" height="40%" autoplay="autoplay" loop="loop">
                <source src="{{ item.video }}" type="video/mp4">
              </video>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
    <br>
    <br>
  {% endfor%}
</div>
